BasedOnStyle: LLVM
ColumnLimit: 120
# Handling of include blocks must be consistent with clang-tidy(llvm-include-order).
# See also: https://llvm.org/docs/CodingStandards.html#include-style
IncludeBlocks: Regroup
IncludeCategories:
  # Our headers
  - Regex: '^"qcc/'
    Priority: 2
  # LLVM Subproject headers (MLIR)
  - Regex: '^"mlir/'
    Priority: 3
  # LLVM Subproject headers (LLVM)
  - Regex: '^"llvm/'
    Priority: 4
  # System or standard library headers
  - Regex: "^<.*>"
    Priority: 5
  # Local headers (and anything else)
  - Regex: '^".*'
    Priority: 1
PointerAlignment: Left
Standard: c++20
