BasedOnStyle: LLVM
ColumnLimit: 120

# Handling of include blocks must be consistent with clang-tidy(llvm-include-order).
# See also: https://llvm.org/docs/CodingStandards.html#include-style
IncludeBlocks: Regroup
IncludeCategories:
  # NOTE: main headers (e.g. `#include "foo.h"` inside `foo.cpp`) have implicit priority 0.
  # Our headers:
  - Regex: '^"qcc/'
    Priority: 10
  # LLVM Subproject headers (LLVM, MLIR):
  - Regex: '^"mlir/'
    Priority: 20
  - Regex: '^"llvm/'
    Priority: 30
  # System or standard library headers:
  - Regex: "^<.*>"
    Priority: 40
  # Catch all, but mostly 3rd party dependencies:
  - Regex: '^".*'
    Priority: 15

PointerAlignment: Left
Standard: c++20
